<div class="d-flex">
  <h6 mat-dialog-title class="h5">System Parameter</h6>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 14px; margin-right: 0"
  >
    ❌
  </button>
</div>

<mat-tab-group>
  <mat-tab label="Company Information">
    <div>
      <form [formGroup]="companyForm" class="form-card">
        <!-- Basic Details -->
        <mat-card appearance="outlined">
          <mat-card-content>
            <h3 class="section-title h3">Company Details</h3>
            <table class="form-table">
              <tbody>
                <tr>
                  <td class="label-cell">
                    <label>Name</label>
                  </td>
                  <td class="input-cell">
                    <div
                      class="grid"
                      style="
                        display: grid;
                        grid-template-columns: calc(70% - 8px) calc(30% - 8px);
                        gap: 16px;
                      "
                    >
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="companyName" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="companyCode" />
                      </mat-form-field>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="label-cell">
                    <label>Address</label>
                  </td>
                  <td class="input-cell">
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="companyAddressLine1" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">City</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="companyCity" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">State</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="companyState" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">Zip</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="companyPostalCode" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">Country</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="companyCountry" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">Currency</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="currencyCode" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">Remarks</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="remarks" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <h3 class="section-title h3">Bank Address</h3>
            <table class="form-table">
              <tbody>
                <tr>
                  <td class="label-cell">
                    <label>Bank Name</label>
                  </td>
                  <td class="input-cell">
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="bankName" />
                    </mat-form-field>
                  </td>
                </tr>

                <tr>
                  <td class="label-cell">
                    <label>Address</label>
                  </td>
                  <td class="input-cell">
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="bankAddressLine1" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">Branch</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="bankAddressLine2" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">City</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="bankCity" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">State</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="bankState" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">Zip</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="bankPostalCode" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">Country</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="bankCountry" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">AccountNo</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="accountNumber" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">SwiftCode</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="swiftCode" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">IEC Code</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="importExportCode" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="input-cell" colspan="2">
                    <div class="grid">
                      <div class="d-flex">
                        <div class="label-cell">AD Code</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="additionalNumber" />
                        </mat-form-field>
                      </div>

                      <div class="d-flex">
                        <div class="label-cell">PanNo</div>
                        <mat-form-field appearance="outline">
                          <input
                            matInput
                            formControlName="taxIdentificationNumber"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>

        <div class="actions">
          @if(companyForm.disabled){
          <button
            class="btn"
            mat-raised-button
            color="primary"
            (click)="enableEdit()"
          >
            Edit
          </button>
          }@else {
          <button class="btn" mat-raised-button (click)="onCancel()">
            Cancel
          </button>
          <button
            class="btn"
            mat-raised-button
            color="primary"
            (click)="onSave()"
          >
            Save
          </button>
          }
        </div>
      </form>
    </div>
  </mat-tab>

  <mat-tab label="Parameters">
    <div class="modal-content">
      <div class="d-flex" style="margin-top: 10px">
        <h4
          class="primary"
          style="margin-left: 20px; margin-top: 10px; padding: 0"
        >
          Parameters
        </h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          style="margin-right: 20px"
          (click)="openParameterModal()"
        >
          New Parameter
        </button>
      </div>
      <app-table
        [dataSource]="parameters"
        [displayedColumns]="['id', 'parameterName', 'parameterValue']"
        (rowClick)="openParameterModal($event)"
      >
      </app-table>
    </div>
  </mat-tab>
</mat-tab-group>
