.modal-content {
  padding: 10px;
}
h5 {
  padding: 0 20px;
  margin: 0;
}
.table-container {
  max-height: 400px;
  overflow-x: auto;
  margin: 0 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}
