<!-- <h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class='btn' mat-button (click)="onCancel()">Cancel</button>
  <button class='btn' mat-button color="warn" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions> -->
<div class="d-flex">
  <h6 mat-dialog-title class="h5">Business Master</h6>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 10px; margin-right: 10px"
  >
    ❌
  </button>
</div>

<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Customer">
    <div class="modal-content">
      <div class="d-flex" style="padding: 0 20px">
        <h4 class="primary" style="margin-top: 10px">Customers</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openCustomerModal()"
        >
          New Customer
        </button>
      </div>
      <app-table
        [dataSource]="customers"
        [displayedColumns]="displayedColumns"
        (rowClick)="openCustomerModal($event)"
      >
      </app-table>
    </div>
  </mat-tab>
  <mat-tab label="Instruction">
    <div class="modal-content">
      <div class="d-flex" style="padding: 0 20px">
        <h4 class="primary" style="margin-top: 10px">Instructions</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openInstructionModal()"
        >
          New Instruction
        </button>
      </div>

      <app-table
        [dataSource]="instructions"
        [displayedColumns]="['BID', 'Instruction']"
        (rowClick)="openInstructionModal($event)"
      >
      </app-table>
    </div>
  </mat-tab>
  <mat-tab label="Containers">
    <div class="modal-content">
      <div class="d-flex" style="padding: 0 20px">
        <h4 class="primary" style="margin-top: 10px">Containers</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openContainerModal()"
        >
          New Container
        </button>
      </div>
      <app-table
        [dataSource]="containers"
        [displayedColumns]="[
          'id',
          'containerName',
          'type',
          'width',
          'height',
          'weight',
          'length'
        ]"
        (rowClick)="openContainerModal($event)"
      >
      </app-table>
    </div>
  </mat-tab>
  <mat-tab label="Currency">
    <div class="modal-content">
      <div class="d-flex" style="padding: 0 20px">
        <h4 class="primary" style="margin-top: 10px">Currency</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openCurrencyModal()"
        >
          New Currency
        </button>
      </div>

      <app-table
        [dataSource]="currency"
        [displayedColumns]="[
          'id',
          'currencyName',
          'currencyChar',
          'currencyCountry'
        ]"
        (rowClick)="openCurrencyModal($event)"
      >
      </app-table>
    </div>
  </mat-tab>
  <mat-tab label="Bottom Note">
    <div class="modal-content">
      <div class="d-flex" style="padding: 0 20px">
        <h4 class="primary" style="margin-top: 10px">Bottom Notes</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openBottomNoteModal()"
        >
          New Bottom Note
        </button>
      </div>

      <app-table
        [dataSource]="bottomNote"
        [displayedColumns]="['bottomNoteId', 'bottomNote']"
        (rowClick)="openBottomNoteModal($event)"
      >
      </app-table>
    </div>
  </mat-tab>
</mat-tab-group>
