<!-- <h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class='btn' mat-button (click)="onCancel()">Cancel</button>
  <button class='btn' mat-button color="warn" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions> -->
<div class="d-flex">
  <h5 mat-dialog-title class="h5">Business Master</h5>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 10px; margin-right: 10px"
  >
    ❌
  </button>
</div>

<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Customer">
    <div class="modal-content">
      <div class="d-flex" style="padding: 10px 20px">
        <h4 class="primary" style="margin-top: 10px">Customers</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openCustomerModal()"
        >
          New Customer
        </button>
      </div>

      <div class="table-container">
        <table
          mat-table
          [dataSource]="customers"
          class="mat-elevation-z8 table"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Instruction">
    <div class="modal-content">
      <div class="d-flex" style="padding: 10px 20px">
        <h4 class="primary" style="margin-top: 10px">Instructions</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openInstructionModal()"
        >
          New Instruction
        </button>
      </div>

      <div class="table-container">
        <table
          mat-table
          [dataSource]="instructions"
          class="mat-elevation-z8 table"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.BID }}</td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Instruction</th>
            <td mat-cell *matCellDef="let element">
              <a mat-button (click)="openInstructionModal(element)">
                {{ element.Instruction }}</a
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['id', 'value']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['id', 'value']"></tr>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Containers">
    <div class="modal-content">
      <div class="d-flex" style="padding: 10px 20px">
        <h4 class="primary" style="margin-top: 10px">Containers</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openContainerModal()"
        >
          New Container
        </button>
      </div>

      <div class="table-container">
        <table
          mat-table
          [dataSource]="containers"
          class="mat-elevation-z8 table"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Container Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Container Type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
          </ng-container>
          <ng-container matColumnDef="width">
            <th mat-header-cell *matHeaderCellDef>Width</th>
            <td mat-cell *matCellDef="let element">{{ element.width }}</td>
          </ng-container>
          <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef>Height</th>
            <td mat-cell *matCellDef="let element">{{ element.height }}</td>
          </ng-container>
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>
          <ng-container matColumnDef="length">
            <th mat-header-cell *matHeaderCellDef>Length</th>
            <td mat-cell *matCellDef="let element">{{ element.length }}</td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'id',
              'name',
              'type',
              'width',
              'height',
              'weight',
              'length'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'id',
                'name',
                'type',
                'width',
                'height',
                'weight',
                'length'
              ]
            "
          ></tr>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Currency">
    <div class="modal-content">
      <div class="d-flex" style="padding: 10px 20px">
        <h4 class="primary" style="margin-top: 10px">Currency</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openCurrencyModal()"
        >
          New Currency
        </button>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="currency" class="mat-elevation-z8 table">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Currency Name</th>
            <td mat-cell *matCellDef="let element">
              <a mat-button (click)="openCurrencyModal(element)">
                {{ element.currencyName }}</a
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="char">
            <th mat-header-cell *matHeaderCellDef>Currency Char</th>
            <td mat-cell *matCellDef="let element">
              {{ element.currencyChar }}
            </td>
          </ng-container>
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Currency country</th>
            <td mat-cell *matCellDef="let element">
              {{ element.currencyCountry }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="['id', 'name', 'char', 'country']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['id', 'name', 'char', 'country']"
          ></tr>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Bottom Note">
    <div class="modal-content">
      <div class="d-flex" style="padding: 10px 20px">
        <h4 class="primary" style="margin-top: 10px">Bottom Notes</h4>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="openBottomNoteModal()"
        >
          New Bottom Note
        </button>
      </div>

      <div class="table-container">
        <table
          mat-table
          [dataSource]="bottomNote"
          class="mat-elevation-z8 table"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.BID }}</td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Bottom Note</th>
            <td mat-cell *matCellDef="let element">
              <a mat-button (click)="openBottomNoteModal(element)">
                {{ element.BottomNote }}</a
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['id', 'value']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['id', 'value']"></tr>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
