<div class="d-flex">
  <h5 mat-dialog-title class="h5">Final Invoice Report</h5>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 14px; margin-right: 0"
  >
    ❌
  </button>
</div>
<mat-divider></mat-divider>

<div class="modal-content">
  <div></div>
  <button
    class="btn"
    mat-raised-button
    style="height: 32px; margin: 20px 0px"
    (click)="openSelectModal()"
  >
    Select Invoice
  </button>

  <!-- Company Selection -->
  <div style="margin: 20px 0px">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Select Company</mat-label>
      <mat-select
        [(ngModel)]="selectedCompanyId"
        [disabled]="invoiceForm.disabled"
      >
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{ company.companyName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table class="form-table">
    <tbody>
      <tr>
        <td class="label-cell">Customer ID</td>
        <td class="value-cell">{{ invoiceForm.get("customerId")?.value }}</td>
        <td class="label-cell">Customer Name</td>
        <td class="value-cell">{{ invoiceForm.get("customerName")?.value }}</td>
      </tr>
      <tr>
        <td class="label-cell">Invoice ID</td>
        <td class="value-cell">{{ invoiceForm.get("invoiceId")?.value }}</td>
        <td class="label-cell">Invoice No</td>
        <td class="value-cell">{{ invoiceForm.get("finalInvoice")?.value }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex">
    <div style="margin-top: 10px; width: 40%">
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="documentType"
        [disabled]="invoiceForm.disabled"
      >
        <mat-radio-button value="custom">Custom Reports</mat-radio-button>
        <mat-radio-button value="party">Party Reports</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="isThreeDigit"
        [disabled]="invoiceForm.disabled"
      >
        <div style="display: flex; margin-top: 6px">
          <mat-radio-button value="three">3 Digit</mat-radio-button>
          <mat-radio-button value="four">4 Digit</mat-radio-button>
        </div>
      </mat-radio-group>
      <select
        style="
          background: #fff;
          height: 30px;
          width: 70%;
          border-radius: 4px;
          margin: 5px 0px;
        "
        [(ngModel)]="reportType"
        [disabled]="invoiceForm.disabled"
      >
        <option value="ms-word">MS-Word</option>
        <option value="pdf">PDF</option>
      </select>
    </div>
    <table class="form-table" style="margin-top: 10px">
      <tbody>
        <tr>
          <td>
            <button
              class="btn table-btn"
              mat-raised-button
              [disabled]="invoiceForm.disabled"
              (click)="generateInvoice('invoice')"
            >
              Final Invoice
            </button>
          </td>
          <td>
            <button
              class="btn table-btn"
              mat-raised-button
              [disabled]="invoiceForm.disabled"
              (click)="generateInvoice('packingList')"
            >
              Packing List
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button
              class="btn table-btn"
              mat-raised-button
              [disabled]="invoiceForm.disabled"
              (click)="generateInvoice('invoice', 'aus')"
            >
              Final Invoice (Aus)
            </button>
          </td>
          <td>
            <button
              class="btn table-btn"
              mat-raised-button
              [disabled]="invoiceForm.disabled"
              (click)="generateInvoice('packingList', 'aus')"
            >
              Packing List (Aus)
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button
              class="btn table-btn"
              mat-raised-button
              [disabled]="invoiceForm.disabled"
              (click)="generateInvoice('invoice', 'uk')"
            >
              Final Invoice (UK)
            </button>
          </td>
          <td>
            <button
              class="btn table-btn"
              mat-raised-button
              [disabled]="invoiceForm.disabled"
              (click)="generateInvoice('packingList', 'uk')"
            >
              Packing List (UK)
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
