<div class="d-flex">
  <h5 mat-dialog-title class="h5">Invoice</h5>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 14px; margin-right: 0"
  >
    ❌
  </button>
</div>

<mat-tab-group [formGroup]="invoiceForm">
  <mat-tab label="Header">
    <div class="outer-div">
      <table class="form-table">
        <tbody>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Customer Order No.</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="customerOrderNo" />
                  </mat-form-field>
                </div>

                <div class="d-flex">
                  <div class="label-cell">Date</div>
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      formControlName="invoiceDate"
                      [matDatepicker]="picker"
                    />

                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                      style="position: relative; top: -14px"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Serial No.</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="invoiceSerial" />
                  </mat-form-field>
                </div>

                <div class="d-flex">
                  <div class="label-cell">PI No.</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="invoicePiNo" />
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="label-cell">
              <label>Customer Name</label>
            </td>
            <td class="input-cell">
              <div
                class="grid"
                style="
                  display: grid;
                  grid-template-columns: calc(70% - 8px) calc(30% - 8px);
                  gap: 16px;
                "
              >
                <mat-form-field appearance="outline">
                  <input matInput formControlName="customerName" />
                </mat-form-field>
                <button
                  class="btn"
                  mat-raised-button
                  style="height: 32px"
                  [disabled]="invoiceForm.disabled"
                  (click)="openCustomerModal()"
                >
                  Select Customer
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid" style="margin: 0 20px">
      <mat-card appearance="outlined">
        <mat-card-content>
          <h3 class="section-title h3">Customer Address</h3>

          <table class="form-table">
            <tbody>
              <tr>
                <td class="label-cell">
                  <label>Address</label>
                </td>
                <td class="input-cell">
                  <mat-form-field appearance="outline" class="full-width">
                    <textarea
                      matInput
                      rows="2"
                      formControlName="customerAddress"
                    ></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="input-cell" colspan="2">
                  <div class="grid">
                    <div class="d-flex">
                      <div class="label-cell">City</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="customerCity" />
                      </mat-form-field>
                    </div>

                    <div class="d-flex">
                      <div class="label-cell">State</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="customerState" />
                      </mat-form-field>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="input-cell" colspan="2">
                  <div class="grid">
                    <div class="d-flex">
                      <div class="label-cell">Zip</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="customerZip" />
                      </mat-form-field>
                    </div>

                    <div class="d-flex">
                      <div class="label-cell">Country</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="customerCountry" />
                      </mat-form-field>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-content>
          <h3 class="section-title h3">Buyer Adress</h3>
          <table class="form-table">
            <tbody>
              <tr>
                <td class="label-cell">
                  <label>Address</label>
                </td>
                <td class="input-cell">
                  <mat-form-field appearance="outline" class="full-width">
                    <textarea
                      matInput
                      rows="2"
                      formControlName="billingAddress"
                    ></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="input-cell" colspan="2">
                  <div class="grid">
                    <div class="d-flex">
                      <div class="label-cell">City</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="billingCity" />
                      </mat-form-field>
                    </div>

                    <div class="d-flex">
                      <div class="label-cell">State</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="billingState" />
                      </mat-form-field>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="input-cell" colspan="2">
                  <div class="grid">
                    <div class="d-flex">
                      <div class="label-cell">Zip</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="billingZip" />
                      </mat-form-field>
                    </div>

                    <div class="d-flex">
                      <div class="label-cell">Country</div>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="billingCountry" />
                      </mat-form-field>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="outer-div">
      <table class="form-table">
        <tbody>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">
                    Rate Calculation Base
                    <mat-radio-group
                      aria-label="Select an option"
                      formControlName="calculationType"
                    >
                      <mat-radio-button value="Per Sq. Mt"
                        >Per Sq. Mt</mat-radio-button
                      >
                      <mat-radio-button value="Per Sheet"
                        >Per Sheet</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="label-cell">Currency</div>
                  <select
                    style="
                      background: #fff;
                      height: 32px;
                      width: 100%;
                      border-radius: 4px;
                    "
                    formControlName="currency"
                  >
                    @for (cur of currencies; track cur) {
                    <option [value]="cur.currencyName">
                      {{ cur.currencyChar }}
                    </option>
                    }
                  </select>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngTemplateOutlet="bottomButtons"></ng-container>
  </mat-tab>
  <mat-tab label="Item Details" [formGroup]="invoiceDetailsForm">
    <div
      class="grid"
      style="
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 0 8px;
        margin: 0 20px;
      "
    >
      <div class="form-field">
        <label class="label">Container Type</label>
        <select
          style="
            background: #fff;
            height: 32px;
            border-radius: 4px;
            min-width: 100px;
          "
          formControlName="containerType"
        >
          @for (c of containers; track c) {
          <option [value]="c.containerName">
            {{ c.containerName }}
          </option>
          }
        </select>
      </div>
      <div class="form-field">
        <label class="label">From</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="containerFrom" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">To</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="containerTo" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Length</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="length" type="number" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Width</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="width" type="number" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Thickness</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="thickness" type="number" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Sq.Mt.</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="squareMeter" type="number" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Grade</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="materialGrade" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Brand</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="brandName" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Design</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="designType" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Finish</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="finishType" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Description:</label>
        <select
          style="
            background: #fff;
            height: 32px;
            border-radius: 4px;
            min-width: 100px;
          "
          formControlName="thicknessDetail"
        >
          <option value="Single Side">Single Side</option>
          <option value="Double Side">Double Side</option>
        </select>
      </div>
      <div class="form-field">
        <label class="label">Qty</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="quantity" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Rate</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="rate" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Prefix</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="prefixCode" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">&nbsp;</label>
        <button
          class="btn"
          mat-raised-button
          style="height: 32px"
          [disabled]="invoiceDetailsForm.disabled || invoiceDetailsForm.invalid"
          (click)="addDetailsToTable()"
        >
          Add
        </button>
      </div>

      <div class="form-field">
        <label class="label">&nbsp;</label>
      </div>
      <div class="form-field">
        <label class="label">&nbsp;</label>
      </div>
      <div class="form-field">
        <label class="label">&nbsp;</label>
        <button
          class="btn"
          mat-raised-button
          style="height: 32px; padding: 0"
          (click)="moveUp()"
        >
          Move Up
        </button>
      </div>
      <div class="form-field">
        <label class="label">&nbsp;</label>
        <button
          class="btn"
          mat-raised-button
          style="height: 32px; padding: 0"
          (click)="moveDown()"
        >
          Move Down
        </button>
      </div>
      <div class="form-field">
        <label class="label">&nbsp;</label>
        <button
          class="btn"
          mat-raised-button
          style="height: 32px"
          (click)="copyValue()"
        >
          Copy
        </button>
      </div>
      <div class="form-field">
        <label class="label">&nbsp;</label>
        <button
          class="btn"
          mat-raised-button
          style="height: 32px"
          (click)="deleteRow()"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="table-container" style="margin-top: 16px; min-height: 200px">
      <table mat-table [dataSource]="boxes()" class="mat-elevation-z8">
        <ng-container
          *ngFor="let column of displayedColumns"
          [matColumnDef]="column"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ columnHeaderMap[column] || column | titlecase }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; let i = index; columns: displayedColumns"
          (click)="selectRowIndex(i)"
          [ngClass]="{ highlighted: selectedIndex === i }"
        ></tr>
      </table>
    </div>
    <ng-container [formGroup]="invoiceForm">
      <div
        class="d-flex"
        style="justify-content: start; margin: 20px 20px 0 20px"
      >
        <div class="d-flex">
          <div class="label-cell">Discount</div>
          <select
            style="
              background: #fff;
              height: 32px;
              min-width: 200px;
              border-radius: 4px;
            "
            formControlName="discountType"
          >
            <option value="">None</option>
            <option value="flat">Flat</option>
            <option value="percentage">Percentage</option>
          </select>
          <mat-form-field appearance="outline" style="margin-left: 16px">
            <input matInput formControlName="discountValue" />
          </mat-form-field>
        </div>
        <div class="d-flex" style="margin-left: 8px">
          <div class="label-cell">Addition</div>
          <select
            style="
              background: #fff;
              height: 32px;
              min-width: 200px;
              border-radius: 4px;
            "
            formControlName="additionalChargeType"
          >
            <option value="">None</option>
            <option value="flat">Flat</option>
            <option value="percentage">Percentage</option>
          </select>
          <mat-form-field appearance="outline" style="margin-left: 16px">
            <input matInput formControlName="additionalChargeValue" />
          </mat-form-field>
        </div>
        <div class="d-flex" style="margin-left: 8px">
          <div class="label-cell">
            <span style="font-weight: 600; margin-right: 2px"> Total Qty:</span>
            {{ invoiceForm.get("totalQuantity")?.value }}
          </div>
          <div class="label-cell" style="margin-left: 20px">
            <span style="font-weight: 600; margin-right: 2px"> Total SqMt:</span
            >{{ invoiceForm.get("totalSquareMeters")?.value }}
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="outer-div">
        <table class="form-table">
          <tbody>
            <tr>
              <td>
                <label class="label">Amount</label>
                <div>{{ invoiceForm.get("totalAmount")?.value }}</div>
              </td>
              <td>
                <label class="label">Discount</label>
                <div>{{ invoiceForm.get("totalDiscount")?.value || 0 }}</div>
              </td>
              <td>
                <label class="label">Addition</label>
                <div>{{ invoiceForm.get("totalAddition")?.value || 0 }}</div>
              </td>
              <td>
                <label class="label">Total Amount</label>
                <div>
                  {{
                    (invoiceForm.get("netAmount")?.value || 0) -
                      (invoiceForm.get("rounding")?.value || 0)
                  }}
                </div>
              </td>
              <td>
                <label class="label">Round Off</label>
                <div>{{ invoiceForm.get("rounding")?.value || 0 }}</div>
              </td>
              <td>
                <label class="label">Net Amount</label>
                <div>{{ invoiceForm.get("netAmount")?.value || 0 }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex" style="max-width: 600px; margin: 20px 20px 0 20px">
        <div class="label-cell">Reference</div>

        <mat-form-field appearance="outline" style="margin-left: 16px">
          <input matInput formControlName="reference" />
        </mat-form-field>
      </div>
    </ng-container>

    <mat-divider></mat-divider>
    <ng-container *ngTemplateOutlet="bottomButtons"></ng-container>
  </mat-tab>
  <mat-tab label="Instrutions">
    <div class="outer-div" [formGroup]="invoiceForm">
      <h3 class="section-title h3">Payment Term</h3>
      <table class="form-table">
        <tbody>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Delivery Term</div>
                  <select
                    style="
                      background: #fff;
                      height: 32px;
                      width: 100%;
                      border-radius: 4px;
                    "
                    formControlName="deliveryTerms"
                  >
                    <option value="FOB">FOB</option>
                    <option value="CIF">CIF</option>
                    <option value="C&F">C&F</option>
                    <option value="C&I">C&I</option>
                  </select>
                </div>

                <div class="d-flex">
                  <div class="label-cell">Bank Name</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="bankName" />
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Delivery</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="deliveryDetails" />
                  </mat-form-field>
                </div>

                <div class="d-flex">
                  <div class="label-cell">Bank Brach</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="bankBranch" />
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Shipping Line</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="shippingDetails" />
                  </mat-form-field>
                </div>

                <div class="d-flex">
                  <div class="label-cell">Address</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="bankAddress" />
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Payment</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="paymentTerms" />
                  </mat-form-field>
                </div>

                <div class="d-flex">
                  <div class="label-cell">Bank City</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="bankCity" />
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Port Of Discharge</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="portOfDischarge" />
                  </mat-form-field>
                </div>

                <div class="d-flex">
                  <div class="label-cell">Swift No.</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="swiftNumber" />
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="input-cell" colspan="2">
              <div class="grid">
                <div class="d-flex">
                  <div class="label-cell">Discharge Term</div>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="dispatchTerms" />
                  </mat-form-field>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 class="section-title h3" style="margin-top: 20px">Instrutions</h3>
      <div class="d-flex">
        <button
          mat-raised-button
          style="height: 32px"
          [disabled]="invoiceForm.disabled"
          (click)="openInstructionModal()"
        >
          Select Instrutions
        </button>
        <button
          mat-raised-button
          style="height: 32px"
          [disabled]="invoiceForm.disabled"
          (click)="deleteInstruction()"
        >
          Delete
        </button>
      </div>
      <div style="max-height: 200px; margin-top: 8px; overflow-y: auto">
        <table
          mat-table
          [dataSource]="instructions"
          class="mat-elevation-z8 table"
        >
          <ng-contaier matColumnDef="instructionId">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">
              {{ element.instructionId || "-" }}
            </td>
          </ng-contaier>
          <ng-contaier matColumnDef="invoiceInstruction">
            <th mat-header-cell *matHeaderCellDef>Instructions</th>
            <td mat-cell *matCellDef="let element">
              {{ element.invoiceInstruction || "-" }}
            </td>
          </ng-contaier>
          <!-- Use 'displayedColumns' for consistency -->
          <tr
            mat-header-row
            *matHeaderRowDef="['instructionId', 'invoiceInstruction']"
          ></tr>
          <tr
            (click)="selectRowInstruction(i)"
            mat-row
            [ngClass]="{ highlighted: selectedIntructionIndex === i }"
            *matRowDef="
              let row;
              let i = index;
              columns: ['instructionId', 'invoiceInstruction']
            "
          ></tr>
        </table>
      </div>
      <mat-divider></mat-divider>
      <ng-container *ngTemplateOutlet="bottomButtons"></ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
<ng-template #bottomButtons>
  <div
    class="d-flex"
    style="justify-content: center; margin-top: 20px; margin-bottom: 10px"
  >
    <button class="btn" mat-raised-button mat-button (click)="initForm()">
      New
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      [disabled]="invoiceForm.disabled || invoiceForm.invalid"
      (click)="onSave(true)"
    >
      Add
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      (click)="openSelectModal()"
    >
      Select
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      [disabled]="invoiceForm.disabled || invoiceForm.invalid"
      (click)="onSave()"
    >
      Save
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      [disabled]="!invoiceForm?.get('invId')?.value"
      (click)="onDelete()"
    >
      Delete
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      (click)="initForm()"
      [disabled]="invoiceForm.disabled || invoiceDetailsForm.disable"
    >
      Clear
    </button>
  </div>
</ng-template>
