<div class="d-flex">
  <h5 mat-dialog-title class="h5">
    {{ currencyForm.get("id")?.value ? "Edit" : "Add" }} Currency
  </h5>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 10px; margin-right: 10px"
  >
    ❌
  </button>
</div>
<form [formGroup]="currencyForm" class="modal-content">
  <mat-divider></mat-divider>

  <!-- Basic Details -->
  <div class="section">
    <div class="grid">
      <div class="form-field">
        <label class="label">Name:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="currencyName" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Char:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="currencyChar" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Country:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="currencyCountry" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="edit-actions">
    <div>
      @if(currencyForm.get("id")?.value != '') {
      <button class="btn" mat-raised-button color="warn" (click)="onDelete()">
        Delete
      </button>
      }
    </div>
    <div>
      <button class="btn" mat-raised-button (click)="onCancel()">Cancel</button>
      <button class="btn" mat-raised-button color="primary" (click)="onSave()">
        Save
      </button>
    </div>
  </div>
</form>
