<div class="d-flex">
  <h5 mat-dialog-title class="h5">New Container</h5>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    style="margin-top: 10px; margin-right: 10px"
  >
    ❌
  </button>
</div>
<form [formGroup]="customerForm" class="modal-content">
  <mat-divider></mat-divider>

  <!-- Basic Details -->
  <div class="section">
    <div class="grid">
      <div class="form-field">
        <label class="label">Container Display Name:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Container Type:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="type" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Length:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="length" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="label">Width:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="width" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Height:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="height" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Container Weight [kg]:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="weight" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="btn" mat-button (click)="onCancel()">Cancel</button>
    <button class="btn" mat-raised-button color="primary" (click)="onSave()">
      Save
    </button>
  </div>
</form>
