/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("/assets/back.jpg");
}
.img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.table-container {
  max-height: 400px;
  overflow-x: auto;
  margin: 0 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
}
.section {
  margin-top: 10px;
}
.modal-content {
  padding: 0 20px;
}
.h5 {
  padding: 0 20px !important;
  margin: 0 !important;
}
.h3 {
  color: hsl(208, 79%, 51%);
  margin-bottom: 4px !important;
  font-weight: 500 !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #333;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.edit-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  margin-left: 10px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
mat-divider {
  margin-top: 24px !important;
}
mat-card-content {
  padding-top: 6px !important;
}
.form-card {
  padding: 0 20px 20px 20px;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}

.label-cell {
  min-width: 70px;
  font-weight: 500;
  padding: 6px 0px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.input-cell {
  width: 100%;
  padding: 6px 0;
}

mat-form-field {
  width: 100%;
}

mat-card {
  background: #f3f3f3 !important;
  margin-top: 20px;
}
.mat-mdc-header-row {
  height: 32px !important; /* Adjust as needed */
}

.mat-mdc-row {
  height: 32px !important;
}

@layer reset, base, overrides;

@layer overrides {
  mat-form-field {
    font-size: 12px !important;
  }
  mat-form-field:not(.full-width) {
    height: 32px;
  }

  mat-form-field .mat-mdc-text-field-wrapper {
    padding: 4px !important; /* Reduce padding */
    min-height: 32px;
    background: #fff;
  }

  mat-form-field .mat-mdc-form-field-infix {
    min-height: 22px;
    padding: 0 0 0 2px !important;
  }
  .mat-mdc-dialog-surface {
    background: #f3f3f3 !important;
  }
}
