<div class="d-flex">
  <h5 mat-dialog-title class="h5">New Customer</h5>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 10px; margin-right: 10px"
  >
    ❌
  </button>
</div>

<form [formGroup]="customerForm" class="modal-content">
  <mat-divider></mat-divider>

  <!-- Basic Details -->
  <div class="section">
    <h3 class="h3">Basic Details</h3>
    <div class="grid">
      <div class="form-field">
        <label class="label">Name:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="Name" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Other Phone:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="OtherPhone" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Phone:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="Phone" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">URL:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="URL" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Email:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="Email" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Fax:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="Fax" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Contact:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="ContactPerson" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Remark:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="Remark" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Designation:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="Designation" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Customer Address -->
  <div class="section">
    <div class="grid">
      <div>
        <h3 class="h3">Customer Address</h3>
        <div class="full-width form-field">
          <label class="label">Address:</label>
          <mat-form-field appearance="outline" class="full-width">
            <textarea matInput rows="2" formControlName="Address"></textarea>
          </mat-form-field>
        </div>
        <div class="grid">
          <div class="form-field">
            <label class="label">City:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="City" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">State:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="State" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Zip:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="Zip" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Country:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="Country" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <h3 class="h3">Buyer Address</h3>

        <div class="full-width form-field">
          <label class="label">Address:</label>
          <mat-form-field appearance="outline" class="full-width">
            <textarea
              matInput
              rows="2"
              formControlName="BuyerAddress"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="grid">
          <div class="form-field">
            <label class="label">City:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="BuyerCity" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">State:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="BuyerState" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Zip:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="BuyerZipcode" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Country:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="BuyerCountry" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Bank Details -->
  <div class="section">
    <h3 class="h3">Bank Details</h3>
    <div class="grid">
      <div>
        <div class="form-field">
          <label class="label">Bank Name:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="BnkName" />
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="label">Address:</label>
          <mat-form-field appearance="outline" class="full-width">
            <textarea matInput rows="2" formControlName="BnkAddress"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="grid">
        <div class="form-field">
          <label class="label">Branch:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="BnkBranch" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">City:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="BnkCity" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">State:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="BnkState" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">Zip:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="BnkZip" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">Country:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="Bnkcountry" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="edit-actions">
    <div>
      @if(customerForm.get("ID")?.value != '') {
      <button class="btn" mat-raised-button color="warn" (click)="onDelete()">
        Delete
      </button>
      }
    </div>
    <div>
      <button class="btn" mat-button (click)="onCancel()">Cancel</button>
      <button class="btn" mat-raised-button color="primary" (click)="onSave()">
        Save
      </button>
    </div>
  </div>
</form>
