<div class="d-flex">
  <h5 mat-dialog-title class="h5">New Customer</h5>
  <button
    class="btn"
    mat-button
    (click)="onCancel()"
    tabindex="-1"
    style="margin-top: 10px; margin-right: 10px"
  >
    ❌
  </button>
</div>
<form [formGroup]="customerForm" class="modal-content">
  <mat-divider></mat-divider>

  <!-- Basic Details -->
  <div class="section">
    <h3 class="h3">Basic Details</h3>
    <div class="grid">
      <div class="form-field">
        <label class="label">Name:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Other Phone:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="otherPhone" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Phone:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="phone" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">URL:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="url" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Email:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Fax:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="fax" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Contact:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="contact" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Remark:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="remark" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="label">Designation:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="designation" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Customer Address -->
  <div class="section">
    <div class="grid">
      <div>
        <h3 class="h3">Customer Address</h3>
        <div class="full-width form-field">
          <label class="label">Address:</label>
          <mat-form-field appearance="outline" class="full-width">
            <textarea
              matInput
              rows="2"
              formControlName="customerAddress"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="grid">
          <div class="form-field">
            <label class="label">City:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="customerCity" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">State:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="customerState" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Zip:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="customerZip" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Country:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="customerCountry" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <h3 class="h3">Buyer Address</h3>

        <div class="full-width form-field">
          <label class="label">Address:</label>
          <mat-form-field appearance="outline" class="full-width">
            <textarea
              matInput
              rows="2"
              formControlName="buyerAddress"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="grid">
          <div class="form-field">
            <label class="label">City:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="buyerCity" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">State:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="buyerState" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Zip:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="buyerZip" />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="label">Country:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="buyerCountry" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Bank Address -->
  <div class="section">
    <h3 class="h3">Bank Address</h3>
    <div class="grid">
      <div>
        <div class="form-field">
          <label class="label">Bank Name:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bankName" />
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="label">Address:</label>
          <mat-form-field appearance="outline" class="full-width">
            <textarea
              matInput
              rows="2"
              formControlName="bankAddress"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="grid">
        <div class="form-field">
          <label class="label">Branch:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bankBranch" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">City:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bankCity" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">State:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bankState" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">Zip:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bankZip" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label">Country:</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bankCountry" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="actions">
    <button class="btn" mat-button (click)="onCancel()">Cancel</button>
    <button class="btn" mat-raised-button color="primary" (click)="onSave()">
      Save
    </button>
  </div>
</form>
